{% extends 'base.html' %}

{% block comodin %}
<a href="{% url 'about_us' %}"> Catalogo </a>
<h1>
    About Us
</h1>
<p>Somos 3 jovenes latinoamericanos de México, Argentina y Chile entusiasmados por la tecnologia.<br>
    <h2>Daniel Pacheco</h2><br>
    De México, artista 3D, capaz de encontrar y proponer soluciones a un flujo de trabajo establecido, o por establecer, en constante búsqueda de conocimiento. <br>
    <a href="https://www.linkedin.com/in/kreindo">Linkedin Daniel</a><br>
    <h2>Edward Ap Iwan</h2>
    Joven de Argentina, Ingeniero en comunicaciones, amante de las tecnologias y profesional de preventa en BVS Technology Solutions.<br>
    <a href="https://www.linkedin.com/in/edward-ap-iwan/">Linkedin Edward</a><br>
    <h2>Esteban Monsalve</h2>
    Joven Chileno, ingeniero en marketing, con intereses en la tecnologia y comunicaciones. Analista de own media en LATAM Airlines<br>
    <a href="https://www.linkedin.com/in/monsalve-esteban/">Linkedin Esteban</a><br>
</p>


{% endblock comodin %}