
{% extends 'base.html' %}


{% block comodin %}

<h1>Productos</h1>
<a href="{% url 'form-producto' %}"> Publica un nuevo producto</a>
<table>
    <tr>
            <th> Articulos</th>
    </tr>
    
    {% for producto in catalogo %}
        
    <tr>
        <td>
            {% if producto.imagen %}
                <img src="{{producto.imagen.url}}" width="200">   
            {% endif %}
        </td>

        <td> {{producto.nombre}} {{producto.precio}} </td>

        <td> <a href=" {% url 'descripcion_producto' producto.id %} ">Ver mas</a> </td>
        <td> <a href=" {% url 'editar_producto' producto.id %} ">Editar</a> </td>
        <td> <a href=" {% url 'eliminar_producto' producto.id %} ">Eliminar</a> </td>
    </tr>

    {% endfor %}
</table>
{% endblock comodin %}
